@mixin core {
    body, html {
        background-color: $main-dark;
        margin: 0 !important;
        padding: 0 !important;
        -ms-overflow-style: none !important;
        scrollbar-width: none !important;
        font-family: 'pixel_operatorregular';
        scroll-behavior: smooth;
        background-color: $main;
    }
    ::-webkit-scrollbar {
        display: none;
      }
    @font-face {
        font-family: 'pixel_operatorregular';
        src: url('../fonts/pixeloperator-webfont.woff2') format('woff2'),
             url('../fonts/pixeloperator-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        color: $dtext;
    }    
}

