@import './mixins';

#page1-arrowDiv{
    @include flex-center();
    position:relative;
}
#page1-arrow{
    padding: 12px;
    display: block;
    text-align:center;
    z-index: 5;
    position:absolute;
    height: 48px;
    width: 48px;
    left: 48.4vw;
    top: 92vh;
}
