@import './mixins';

@mixin page3-content($zindex, $textshadow, $fontisze) {
    z-index: $zindex;
    text-shadow: $textshadow;
    font-size: $fontisze;

    position:$a;
    color: $dtext;
}
@mixin frontmans-size($width, $height) {
    width: $width;
    height: $height;
}
#page3main{
    @include no-pointer-events();
    @include fullscreen();
    margin-top: 100vh;
    font-size:0;
}
#page3bgDiv{
    top: 200vh;
    position:$a;
    @include fullscreen();
    @include nomp();
}
#page3bgImg{
    @include fullscreen();
    @include no-pointer-events();
    z-index:1;
    position:$a;
    
}
#content3-ctn{
    @include fullscreen();
    @include flex-center();
    position:$a;
}
#page3mainText{
    @include flex-center();
    z-index: 3;
    top: 20vh;
    position:$a;
}
#page3h1{
    @include flex-center();
    @include page3-content(3, 2px 2px rgb(17, 17, 17),4rem );
}
#page3h2{
    @include page3-content(3, 2px 2px rgb(17, 17, 17),2rem );
    text-align: center;
    top: 10vh;
    width: 620px;
}
#page3-frontmans-div{
    position:$a;
    @include flex-center();
    @include frontmans-size(768px,128px );
    top: 30vh;
}
#frontmans-img{
    @include frontmans-size(768px,128px );
}