#page1-arrowDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
#page1-arrow{
    padding: 6px;
    display: block;
    text-align:center;
    z-index: 5;
    position:absolute;
    height: 48px;
    width: 48px;
    left: 48.4vw;
    top: 90vh;
}
