@import './mixins';

#page1main{
    font-size:0;
}
#page1bgImg {
    @include no-pointer-events();
    @include fullscreen();
    @include blur(5px);
    z-index:0;
}
#page1bgDiv{
    z-index:-1;
    @include no-pointer-events();
}
#page1-arrowDiv{
    @include flex-center();
}
#page1-arrow{
    top: 93vh;
}