@import './mixins';

#page3main{
    pointer-events:none;
    margin-top: 100vh;
    height: 100vh;
    font-size:0;
}
#page3bgDiv{
    top: 200vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding:0;
}
#page3bgImg{
    z-index:1;
    pointer-events:none;
    position:absolute;
    height: 100vh;
    width: 100vw;
}
#content3-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    height: 100%;
    width: 100%;
}
#page3mainText{
    z-index: 3;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 15vw;
    height: 10vh; */
    position:absolute;
}
#page3h1{
    z-index: 3;
    position: absolute;
    text-shadow: 2px 2px rgb(17, 17, 17);
    color: white;
    font-size: 4rem;
    text-align: center;
}
#page3h2{
    text-align: center;
    top: 10vh;
    width: 620px;
    z-index: 3;
    position: absolute;
    text-shadow: 2px 2px rgb(17, 17, 17);
    color: white;
    font-size: 2rem;
}
#page3-frontmans-div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30vh;
    height: 128px;
    width: 768px;
}
#frontmans-img{
    height: 128px;
    width: 768px;
}