@import './mixins';

@mixin content-text($shadow, $fontsize, $zindex, $left, $top, $position, $fontweight) {
    text-shadow: $shadow;
    font-size: $fontsize;
    z-index: $zindex;
    left: $left;
    top: $top;
    position: $position;
    font-weight: $fontweight;
}
@mixin nft_styles($scale, $position, $top, $left, $zindex){
    transform:scale($scale);
    position: $position;
    top: $top;
    left: $left;
    z-index: $zindex;
}

#page2main{
    font-size:0;
}
#page2-bgDiv{
    position:$a;
    @include fullscreen();
    padding:0;
}
#page2bgImg{
    z-index:1;
    position:$a;
    @include fullscreen();
    @include no-pointer-events();
}
#content2-ctn{
    position:$a;
    @include fullscreen();
    @include flex-center();
}
#page2title{
    @include content-text(3px 3px rgb(17,17,17),64px,3,5vw ,8vh ,$a ,bold );
    color: $dtext;
    font-size: clamp(32px, 4vw, 64px);
}
.page2maintext{
    @include content-text(3px 3px rgb(17,17,17),42px,3,5vw ,26vh ,$a ,normal );
    color: $dtext;
    width: 40%;
    line-height: 0.9em;
    font-size: clamp(16px, 2vw, 42px);
}
.page2subtext{
    @include content-text(3px 3px rgb(17,17,17),42px,3,5vw ,46vh ,$a ,normal );
    color: $dtext;
    width: 40%;
    font-size: clamp(16px, 2vw, 42px);
}
#nft-image-1{
    @include nft_styles(0.2,$a ,4vh ,80vw ,3 );
}
#nft-image-2{
    @include nft_styles(0.2,$a ,38vh ,62vw ,3 );
}
#nft-image-3{
    @include nft_styles(0.2,$a ,64vh ,82vw ,3 );
}

