#page1main{
    font-size:0;
}
#page1bgImg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events:none;
    z-index:0;
    height: 100vh;
    width: 100vw;

    filter: blur(4px);
    -webkit-filter: blur(4px);
}
#page1bgDiv{
    z-index:-1;
    pointer-events:none;
}
#page1-arrowDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
#page1-arrow{
    padding: 6px;
    display: block;
    text-align:center;
    z-index: 5;
    position:absolute;
    height: 48px;
    width: 48px;
    left: 48.4vw;
    top: 90vh;
}