$a: absolute;

@mixin fullscreen {
    // position: absolute;
    width: 100vw;
    height: 100vh;
}
@mixin nomp {
    margin: 0;
    padding: 0;
}
@mixin no-pointer-events {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events:none;
}
@mixin flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}
@mixin blur($px) {
    filter: blur($px);
    -webkit-filter: blur($px);
}