@import './mixins';
@mixin navbar {
    #header {
        // box-sizing: border-box;
        z-index: 999;
        min-width: 640px;
        @include flex-center();
        // width: 100vw;
        height: 36px;
        position: fixed;
        // top: 0;
        background-color: #282C2F;
        border-bottom: 4px solid #202124;
        box-shadow: 0 10px 10px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    #navbar {
        display:inline;
        width:100vw;
        overflow:hidden;
        margin: 0;
        padding: 0;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include nomp();
    }
    .list {
        width: 100vw;
        color: $dtext;
    }
    #li_texturemanager{
        margin-left: 5%;
    }
    #li_marketplace{
        margin-right: 25%;
    }
    #li_home{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #li_readmore{
        
    }
    #li_play{
        margin-right: 5%;
    }
    a{
        font-size: 1.25em;
        font-weight: bold;
        text-decoration: none !important;
    }
    a:link {
        color: $dtext;
    }
    a:visited{
        color: $dtext;
    }
}