mixin header
    #header
        #navbar.list
            ul
                a#li_texturemanager.navlink(href='texturemanager.pug') Texture Manager
                a#li_marketplace.navlink(href='marketplace.pug') Marketplace
                a#li_home.navlink(href='index.pug') Squ3
                a#li_readmore.navlink(href='roadmap.pug') Future Plans
                a#li_play.navlink(href='play.pug') Play