mixin header
    #header
        #navbar.list
            ul
                a#li_texturemanager(href='#') Texture Manager
                a#li_marketplace(href='#') Marketplace
                a#li_home(href='#') Squ3
                a#li_readmore(href='#') Read More
                a#li_play(href='#') Play