doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='./styles/styleMarketplace.scss')
        link(rel='icon' href='./assets/icon.png')
        title Marketplace | Squ3
    body 
include ./_mixins.pug
+header
#wrapper-main
  #content-main
    #marketplace-container-title
      p.marketplace-ctn-text Texture Marketplace
    #marketplace-container-border
      #marketplace-container
        #grid-container
          .grid-item
            .grid-item-title
              p A fkin banana
            .grid-item-img
              img.marketplace-preview-img(src='./assets/marketplace-testphoto1.png' alt='')
            .grid-item-priceCtn
              p.grid-item-priceText Price: 0.004 SQU
            .grid-item-buyCtn
              button.grid-item-button Buy It
          .grid-item
            .grid-item-title
              p Hollow knight
            .grid-item-img
              img.marketplace-preview-img(src='./assets/marketplace-test-photo2.png' alt='')
            .grid-item-priceCtn
              p.grid-item-priceText Price: 0.012 SQU
            .grid-item-buyCtn
              button.grid-item-button Buy It
          .grid-item
            p.grid-item-template-text-number 3
          .grid-item
            p.grid-item-template-text-number 4
          .grid-item
            p.grid-item-template-text-number 5
          .grid-item
            p.grid-item-template-text-number 6
          .grid-item
            p.grid-item-template-text-number 7
          .grid-item
            p.grid-item-template-text-number 8
          .grid-item
            p.grid-item-template-text-number 9
          .grid-item
            p.grid-item-template-text-number 10
          .grid-item
            p.grid-item-template-text-number 11
          .grid-item
            p.grid-item-template-text-number 12
          .grid-item
            p.grid-item-template-text-number 13
          .grid-item
            p.grid-item-template-text-number 14
          .grid-item
            p.grid-item-template-text-number 15
          .grid-item
            p.grid-item-template-text-number 16
          .grid-item
            p.grid-item-template-text-number 17
          .grid-item
            p.grid-item-template-text-number 18
          .grid-item
            p.grid-item-template-text-number 19
          .grid-item
            p.grid-item-template-text-number 20
          .grid-item
            p.grid-item-template-text-number 21
          .grid-item
            p.grid-item-template-text-number 22
