doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='./styles/styleRoadmap.scss')
        title Roadmap | Squ3
    body 
include ./_mixins.pug
+header
#wrapper-main 
    #content-main
        h1.center-text LMAO
        p.center-text LMAOOOO